# Ignore everything
*

# Except these directories and files
!.gitignore
!README.md
!biome.json
!.github/
!backend/
!frontend/

# Ensure we don't ignore any files inside those directories
!.github/**
!backend/**
!frontend/**
